@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-blue: #add8e6; /* Define the new light blue color */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 200, 200, 200;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  color: var(--light-blue); /* Use the new light blue color for the heading */
}
